.kanban-btn{
    z-index: 2;
    position: fixed;
    font-size: 18px;
    bottom: 10px;
    margin-left: 12px;
    border-radius: 50%;
    border: solid var(--secondary-color) 1px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.kanban-btn:hover {
    border: solid var(--primary-color) 1px;
    background-color: var(--secondary-color);
    transform: scale(1.04);
    transition: all 0.2s ease-in-out;
    color: var(--primary-color);
}