:root{
    --primary-color: #2992cc;
    --secondary-color: #F7FBFE;
    --border-radius-default: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.bg-primary-color{
    background-color: var(--primary-color);
}

.border-primary-color{
    border-bottom: 2px solid var(--primary-color)
}

.on-hover-link{
    text-align: center;
    line-height: 45px;
    color: #000;
    text-decoration: none;
}

.on-hover-link:hover{
    border-bottom: 2px solid var(--primary-color);
}

.btn-primary-color{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
    border: solid var(--primary-color) 1px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
    width: 180px;
    height: 45px;
    border-radius: 22px;
    cursor: pointer;
}

.btn-primary-color:hover{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
}

.hero{
    background-color: var(--secondary-color);
}

.hero-img{
    width: 100%;
}

.hero-title h1{
    color: var(--primary-color);
}

.hero-text h2{
    color: (--primary-color);
}