:root{
    --primary-color: #2992cc;
    --secondary-color: #F7FBFE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; /*Deixar assim?*/
}

.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: var(--secondary-color);
}

.navbar .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.navbar .container img{
    display: block;
}

.navbar .container .nav-links{
    display: flex;
    gap: 48px;
}

.navbar .container .nav-links {
    list-style: none;
}

.a-link{
    text-align: center;
    line-height: 45px;
    color: #000;
    text-decoration: none;
}

.a-link:hover {
    color: var(--primary-color);
}

.btn-white{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
    border: solid var(--primary-color) 1px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
    width: 180px;
    height: 45px;
    border-radius: 22px;
    cursor: pointer;
}

.btn-white:hover{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
}

.btn-border:hover{
    border: 1px solid var(--secondary-color);
}

.fullpage{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-color);
}

.fullpage .container{
    display: flex;
    align-items: center;
}

.fullpage .container .left-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 50vw;
    color: #fff;
    margin-right: 40px;
}


.fullpage .container .hero-title{
    font-size: 3.5rem;
    font-weight: 700;
}

.fullpage .container p{
    max-width: 80%;
    font-size: 1.5rem;
    text-align: justify;
}

.fullpage .container .left-col span{
    padding: 0 8px;
    color: var(--primary-color);
    font-weight: 700;
    box-shadow: inset 0 2rem var(--secondary-color);
}

.fullpage .container .hero-img{
    width: 37rem;
    height: auto;
    box-shadow: 3px 6px 8px rgba(0,0,0,0.3);
    border-radius: 12px;
}

.fullpage .container .col{
    flex-direction: column;
}
 
.about .container .grid{
    background-color: #fff;
    height: 100vh;
}

.fullpage .container .logo{
    width: 20rem;
    height: auto;
}

.container.col{
    flex-direction: column;
}

.form-box{
    padding: 30px;
    margin: auto 0;
    background-color: white;
    border-radius: 8px;
}

.form-box h1{
    margin-bottom: 30px;
}

.login-form{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.login-form input{
    margin-bottom: 30px;
}

.btn-white input{
    margin: 0 auto;
}