:root{
    --primary-color: #2992cc;
    --secondary-color: #F7FBFE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: var(--secondary-color);
}

.navbar .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.navbar .container .nav-links{
    display: flex;
    gap: 48px;
}

.navbar .container .nav-links {
    list-style: none;
}

.navbar .container a:hover {
    color: var(--primary-color);
}

.navbar .container .btn-login{
    border: solid var(--primary-color) 1px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
    width: 180px;
    height: 45px;
    border-radius: 22px;
    cursor: pointer;
}

.navbar .container .btn-login:hover{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
}

.navbar .container a {
    text-align: center;
    line-height: 45px;
    color: #000;
    text-decoration: none;
}

.hero{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--primary-color);
}

.hero .container{
    display: flex;
    align-items: center;
}

.hero .container .left-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 50vw;
    color: #fff;
    margin-right: 40px;
}


.hero .container h1{
    font-size: 3.5rem;
    font-weight: 700;
}

.hero .container p{
    max-width: 80%;
    font-size: 1.5rem;
    text-align: justify;
}

.hero .container .left-col span{
    color: var(--primary-color);
    font-weight: 700;
    box-shadow: inset 0 2rem var(--secondary-color);
}

.hero .container img{
    width: 37rem;
    height: auto;
    box-shadow: 3px 6px 8px rgba(0,0,0,0.3);
    border-radius: 12px;
}

.hero .container .hero-cta .primary-cta{
    display: inline-block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
    width: 180px;
    height: 45px;
    border-radius: 22px;
    cursor: pointer;
}

.hero .container .hero-cta .primary-cta:hover{
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);    
}


.hero .container .hero-cta a{
    text-decoration: none;
    text-align: center;
    line-height: 45px;
}

.about .container .grid{
    background-color: #fff;
    height: 100vh;
}